@import './reset.css';

/* General */

html {
	font-size: 24px;
	line-height: 1.25rem;
	height: 100%;
	color: white;
	background-color: black;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}